
.navbar {
    display: flex;
    padding: 8px 50px;
}

.navbar a {
    margin: auto;
    display: flex;
    align-items: center;
}

.navbar a:first-child {
    margin: 0;
}

.main {
    display: grid;
    grid-template-columns: 200px auto 280px;
    height: 100vh;
}

.main > div {
    margin: 0 0 60px 0;
    padding: 22px;
    border-top: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
}

.chatBoks {
    margin: 20px;
    border: 1px solid var(--gray);
}

.chat {
    margin: 20px 0 20px 0;
}

.group {
    display: flex;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid var(--gray);
    border-radius: 6px;
}

.group:hover {
    background-color: var(--lightgray);
}

.groupImg {
    width: 30px;
}

.betalingsBox {
    
}

.betalingBoks h1 {
    
}

.logo {
    width: 120px;
}

