
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

:root {
    --lilla: #b7abf9;

    --background-color: #f0eef9;
    --font-color: #191721;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
}

.title {
    font-size: 60px;
}

.logo {
    width: 20px;
    height: 20px;
}
