@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

img {
    width: auto;
}

:root {
    --lilla: #b7abf9;
    --sort: #191721;
    --lightgray: #e3e2e4;
    --gray: #9c9ba2;

    --background-color: #f0eef9;
    --font-color: var(--sort);
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
}

.navbar {
    display: flex;
}

.navbar a {
    margin: auto;
}

.main {
    display: grid;
    grid-template-columns: 200px auto 280px;
    height: 100vh;
}

.main > div {
    margin: 60px 0 60px 0;
    padding: 22px;
    border-top: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
}

.chatBoks {
    margin: 20px;
    border: 1px solid var(--gray);
}

.chat {
    margin: 20px 0 20px 0;
}

.group {
    display: flex;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid var(--gray);
    border-radius: 6px;
}

.group:hover {
    background-color: var(--lightgray);
}

.groupImg {
    width: 30px;
}

.betalingsBox {
    
}

.title {
    font-size: 60px;
}

#logoDiv {
    display: flex;
    height: 100vh;
    align-items: center;
    cursor: pointer;
}

.logo {
    margin: auto;
    width: 600px;
    height: auto;
}

@media (width < 600px){
    .logo{
        width: 100%;
    }
}