
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    display: flex;
    padding: 8px 50px;
}

.navbar a {
    margin: auto;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
}

.navbar a:first-child {
    margin: 0;
}

.main {
    display: grid;
    grid-template-columns: 200px auto 280px;
    flex: 1 1 auto;
}

.main > div {
    border-top: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
}

.chatMidtContainer {
    display: grid;
    grid-template-rows: max-content auto max-content;
}

.chatTop {
    padding: 22px;
    border-bottom: 1px solid var(--gray);
}

.chatBoks {
    /* margin: 20px; */
}

.chatInputBoks {
    display: flex;
    padding: 22px;
    border-top: 1px solid var(--gray);
}

.chatInputBoks input {
    width: 100%;
    background-color: white;
    padding: 8px;
    border: 1px solid var(--gray);
    border-radius: 10px;
}

.chatInputBoks span {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    padding: 0 8px;
}

.chat {
    margin: 20px 10px;
}

.group {
    display: flex;
    margin: 22px;
    padding: 8px;
    border: 1px solid var(--gray);
    border-radius: 6px;
}

.group:hover {
    background-color: var(--lightgray);
}

.groupImg {
    width: 30px;
}

.betalingBoks {
    padding: 22px;
}

.storTekst {
    font-size: 42px;
    font-weight: 700;
}

.logo {
    width: 120px;
}

